# .NET Core
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
.vs/
.vscode/
*.csproj.user

# NuGet
packages/
*.nupkg
project.assets.json
project.nuget.cache

# Rider/IntelliJ
.idea/

# Others
*.pdb
*.dll
*.exe